<div >
  <kendo-scrollview
    [data]="items"
    [width]="width"
    [height]="height"
    [arrows]="true"
    [pageable]="true">
    <ng-template let-item="item">
      <h2>{{item.title}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur dolores et exercitationem fugit illum in ipsa itaque laborum maxime nam nulla quae quaerat quas qui, quibusdam quod repellendus tempora!</p>
      <img src='{{item.url}}'>
    </ng-template>
  </kendo-scrollview>
</div>

<div class="container-fluid">
  <kendo-sortable
    [navigatable]="true"
    [animation] = "true"
    [data]="manuals"
    class="row"
    itemClass="item col-xs-6 col-sm-3"
    activeItemClass="item col-xs-6 col-sm-3 active">
    <ng-template let-item="item">
      <h2>{{item.title}}</h2>
      <img src='{{item.url}}'>
    </ng-template>
  </kendo-sortable>
</div>
