<div>
  <kendo-scrollview
    [data]="items"
    [width]="width"
    [height]="height"
    [arrows]="true"
    [pageable]="true">
    <ng-template let-item="item">
      <h2>{{item.title}}</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci consectetur dolores et exercitationem fugit
        illum in ipsa itaque laborum maxime nam nulla quae quaerat quas qui, quibusdam quod repellendus tempora!</p>
      <img src='{{item.url}}'>
    </ng-template>
  </kendo-scrollview>
</div>

<h2 style="text-align: center; margin-top: 50px">Categories</h2>
<div class="col-sm-12 col-md-4 example-col" style="justify-content:center; display: flex; align-items: center;">
  <kendo-buttongroup style="margin-left: 1100px; margin-bottom: 30px">
    <button kendoButton [primary]="true" [look]="'flat'" (click)="goToCategory('ART')">Art</button>
    <button kendoButton [primary]="true" [look]="'flat'" (click)="goToCategory('SOCIAL_LIFE')">Social life</button>
    <button kendoButton [primary]="true" [look]="'flat'" (click)="goToCategory('TECHIQUE')">Technique</button>
    <button kendoButton [primary]="true" [look]="'flat'" (click)="goToCategory('COOKING')">Cooking</button>
    <button kendoButton [primary]="true" [look]="'flat'" (click)="goToCategory('LEARNING')">Learning</button>
    <button kendoButton [primary]="true" [look]="'flat'" (click)="goToCategory('SPORT')">Sport</button>
    <button kendoButton [primary]="true" [look]="'flat'" (click)="goToCategory('HEALTH')">Health</button>
  </kendo-buttongroup>
</div>

<h2 style="text-align: center;">Last added</h2>

<app-manual-container [dataSource] = manuals></app-manual-container>

<div class="fab" (click)="addManual()" *ngIf="isAuthenticated">
  <span class="fab-action-button" id="fab">
      <i class="fab-action-button__icon"></i>
    </span>
</div>
