<kendo-toolbar style="background-color: lightgrey; padding: 1px">
  <kendo-toolbar-buttongroup [selection]="'single'">
    <kendo-toolbar-button [text]="'About us'"></kendo-toolbar-button>
    <kendo-toolbar-button [text]="'Help'"></kendo-toolbar-button>
    <kendo-toolbar-button [text]="'EN'"></kendo-toolbar-button>
  </kendo-toolbar-buttongroup>
</kendo-toolbar>

<div style="background-color: black; padding:13px; justify-content:center; display: flex; align-items: center;">
  <button kendoButton routerLink="home" [look]="'flat'" style="color: white; margin-right: 100px; font-size: 45px;
  font-family: 'Baskerville Old Face'">iManuals</button>
  <h2 style="color: white; font-family: 'Baskerville Old Face'; margin-right: 10px;">We teach you how to do any thing</h2>
  <input kendoTextBox placeholder="How to" style="width: 350px;"/>
  <kendo-dropdownbutton [icon]="icon" [data]="data" *ngIf="isAuthenticated" class="myUser" (itemClick)="dropDownClick($event)"
                        [popupSettings]="{ popupClass: popupClass }">
  </kendo-dropdownbutton>
  <span class="k-icon k-i-login" (click)="toLogIn()" *ngIf="!isAuthenticated"></span>
</div>
<app-login [state]="state" (closeGlobal)="state = false"></app-login>
