<kendo-dialog title="Log In" *ngIf="state"   (close)="close()" [minWidth]="250" [width]="450">
  <form [formGroup]="loginFormControl" (ngSubmit)="loginUser(loginFormControl.value)" class="k-form">
    <fieldset>
      <legend>Credentials</legend>
      <label class="k-form-field">
        <span>Username</span>
        <input formControlName="username" type="text" class="k-textbox" placeholder="Your username" required/>
      </label>
      <label class="k-form-field">
        <span>Password</span>
        <input formControlName="password" type="password" class="k-textbox" placeholder="Your password" required/>
      </label>
    </fieldset>
    <input type="submit" class="k-button k-primary" value="Submit" style="float: right">
  </form>
  <button type="button" class="k-button k-primary" routerLink="registration" (click)="close()">Registration</button>
</kendo-dialog>
